<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Visualization</title>

    <style>
        ul {
            list-style: none;
            padding-left: 0;
        }
    
        ul li {
            margin-bottom: 5px;
        }
    
        ul ul {
            margin-left: 20px;
        }

        h1 {
            color: #000080;
        }

        h3 {
            color: #000080;
        }

        body {
            background-color: #d3d3d3;
        }
    </style>
</head>

<body>
    <h1>Stock Price Prediction Tool</h1>
    <h3>Stock Selection</h3>
    <form action="/plot" method="post">
        <ul>
            {% for stock in available_stocks %}
            <li><label><input type="checkbox" name="stocks" value="{{ stock }}">{{ stock }}</label></li>
            {% endfor %}
        </ul>

        <h3>Historical Data</h3>
        <ul>
            <li><label><input type="radio" name="historical" value="prev_week"> Previous Week</label></li>
            <li><label><input type="radio" name="historical" value="prev_month"> Previous Month</label></li>
            <li><label><input type="radio" name="historical" value="prev_year"> Previous Year</label></li>
            <li><label><input type="radio" name="historical" value="all"> All Time</label></li>
        </ul>
        <input type="submit" value="Generate Plot">
    </form>

    <script>
        function toggleSubItems(checkbox) {
            var sector = checkbox.value;
            var subItems = document.getElementsByClassName(sector);
            for (var i = 0; i < subItems.length; i++) {
                subItems[i].checked = checkbox.checked;
            }
        }
    </script>

</body>
</html>
