<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Plot</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Stock Plot</h1>
    <!-- Display Plotly plot -->
    {{ plot_div | safe }}
    
    <!-- Back button -->
    <form action="/" method="get">
        <input type="submit" value="Back to Select Stocks">
    </form>
</body>
</html>
